'scopeName': 'source.dbLanguage'
'name': 'DataBaseLanguage'
'fileTypes': ['cql']

'patterns': [
  {
    'match': '\\b(select)\\s+(([0-9a-z]+\,*)*)\\s+(from)'
    'name': 'entity.other.start.dbLanguage'
    'captures':
        '1':
            'name': 'keyword.other.start.select.dbLanguage'
        '2':
            'name': 'keyword.other.start.variables.dbLanguage'
        '3':
            'name': 'keyword.other.start.multiple.dbLanguage'
        '4':
        	'name': 'keyword.other.start.from.dbLanguage'
  }
  {
    'match': '\\b([A-Z]+\\((([0-9a-z]+\,*)*)\\))'
    'name': 'entity.other.file.dbLanguage'
    'captures':
        '1':
            'name': 'keyword.other.file.name.dbLanguage'
        '2':
            'name': 'keyword.other.file.variable.dbLanguage'

  }
  {
    'match': '\\b(and)'
    'name': 'entity.other.and.dbLanguage'
    'captures':
    	'1':
    		'name': 'keyword.other.and.and.dbLanguage'
  }
  {
    'match': '\\b(thereExist)\\s+([0-9a-z]+)\\s*(\.)'
    'name': 'entity.other.there.dbLanguage'
    'captures':
        '1':
            'name': 'keyword.other.there.thereExist.dbLanguage'
        '2':
            'name': 'keyword.other.there.varible.dbLanguage'
        '3':
            'name': 'keyword.other.there.dot.dbLanguage'


  }
  {
  	'match': '\\b([0-9a-z]+)\\s+(\=)\\s+([0-9a-z]+)'
  	'name': 'entity.other.equals.dbLanguage'
  	'captures':
  		'1':
  			'name': 'keyword.other.equals.variableone.dbLanguage'
  		'2':
  			'name': 'keyword.other.equals.equalsign.dbLanguage'
  		'3':
  			'name': 'keyword.other.equals.variabletwo.dbLanguage'
  }
]
